.topcanvas {
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1
}

.container {
  height: 600px;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  position: relative
}